<h2>Create Account</h2>

{{#if errors}}
    {{#each errors}}
        <div class="notice error">
            <i class="icon-remove-sign icon-large"></i>
            {{msg}}
            <a href="#close" class="icon-remove"></a>
        </div>
    {{/each}}
{{/if}}

<form action="/user/register" method="POST" id="regForm">

    <div>
        <label for="">First Name:</label>
        <input type="text" name="first_name" id="" value="{{first_name}}">
    </div>
    <div>
        <label for="">Last Name:</label>
        <input type="text" name="last_name" id="" value="{{last_name}}">
    </div>
    <div>
        <label for="">Street Addresse:</label>
        <input type="text" name="street_name" id="" value="{{street_name}}">
    </div>
    <div>
        <label for="">house_number:</label>
        <input type="text" name="house_number" id="" value="{{house_number}}">
    </div>
    <div>
        <label for="">City:</label>
        <input type="text" name="city" id="" value="{{city}}">
    </div>
    <div>
        <label for="">State:</label>
        <input type="text" name="state" id="" value="{{state}}">
    </div>
    <div>
        <label for="">zip:</label>
        <input type="text" name="zip" id="" value="{{zip}}">
    </div>
    <div>
        <label for="">Emaill Address:</label>
        <input type="text" name="email" id="" value="{{email}}">
    </div>
    <div>
        <label for="">username:</label>
        <input type="text" name="username" id="" value="{{username}}">
    </div>
    <div>
        <label for="">password:</label>
        <input type="password" name="password" id="" value="{{password}}">
    </div>
    <div>
        <label for="">Confirm password:</label>
        <input type="password" name="password2" id="" value="{{password2}}">
    </div>
    <div>
        <input type="submit" value="Sign Up">
    </div>

</form>