<div class="row">
    <div class="col s12 m9">
        <h3>{{garbage.title}}
            <h6>{{user.houseNumber}}</h6>
            <h6>{{user.address}}</h6>
            <h6>{{user.pin}}</h6>
           <small>{{{editIcon garbage.user.id user.id garbage.id false}}}</small> 
        </h3>
        <div class="card garbage">
            <div class="card-content">
                <span class="card-title">{{formatDate garbage.date 'MMMM Do YYYY'}}</span>
                {{{garbage.body}}}
            </div>
        </div>

        {{#if garbage.allowComments}}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">comments</span>
                    {{#if user}}
                        <form method="POST" action="/garbages/comment/{{garbage.id}}">
                        <div class="input-field">
                            <textarea name="commentBody" class="materialize-textarea"></textarea>
                            <label for="">add comment</label>
                        </div>
                        <input type="submit" value="submit" class="btn">
                        </form>
                    
                    {{else}}
                        <p>please <a href="/auth/google">log</a> in to comment</p>
                    {{/if}}
                </div>
            </div>

            {{#each garbage.comment}}
                <div class="card">
                    <div class="card-content">
                        <h5>{{commentBody}}</h5>
                        <div class="chip">
                            <img src="{{commentUser.image}}" alt="">
                            <a href="/garbages/user/{{commentUser.id}}">{{commentUser.firstName}} {{commentUser.lastName}}</a>
                            
                        </div>
                        <br>
                        <small>Posted: {{formatDate commentDate 'MMMM Do YYYY'}}</small>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>
    <div class="col s12 m3">
        <div class="card canter-align">
            <div class="card-content">
                <span class="card-title">
                    {{garbage.user.firstName}} {{garbage.user.lastName}}
                </span>
                <img src="{{garbage.user.image}}" alt="" class="circle responsive-img" srcset="">
            </div>
            <div class="card-action">
                <a href="/garbages/user/{{garbage.user.id}}">more from {{garbage.user.firstName}}</a>
            </div>
        </div>
    </div>
</div>